[submodule "bundle/vim-hashicorp-tools"]
	path = bundle/vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "dict/terraform"]
	path = dict/terraform
	url = https://JosephHolland_@bitbucket.org/JosephHolland_/vim-dict-terraform.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
